body {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
}
A {
  text-decoration: underline;
}
.section-margin {
  margin-bottom:100px;
}
#scroll-spy-host A, #scroll-spy-host-min A, A.btn {
  text-decoration: none;
}
#scroll-spy-host LI.active A {
  font-weight: bold;
  color: inherit;
  background-color: #fff;
}
#scroll-spy-host.fixed {
  top: 0;
  position: fixed;
}
.custom-alert {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.overlay {
  opacity: .7;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ddd;
  top: 0;
}
.btn-container-centered {
  text-align:center;
  margin-top:30px;
}
.icon-bar {
  background-color: #337ab7;
}
BUTTON.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
@media (max-width: 991px) and (min-width: 768px) {
  BUTTON.navbar-toggle {
    display: block!important;
  }
}
#scroll-spy-host-min {
  position: fixed;
  top: 50px;
  right: 15px;
  background: #fff;
  z-index: 1000;
  border: #ccc solid 1px;
  border-radius: 4px;
}
.loading {
  display:none;
}
.loading DIV {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  font-weight: bold;
}
A.social {
  background-image: url(images/social.png);
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
}
A.social:hover {
  text-decoration: none;
}
.facebook {
  background-position: 0 0;
}
.twitter {
  background-position: -30px 0;
}
.linkedin {
  background-position: -60px 0;
}
.panel-body {
  background: url(images/back.png) 100% 0px repeat-y;
}
.panel-info {
  opacity:.8;
}
.above {
  position: absolute;
  top: 50px;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .above {
    position: absolute;
    top: 0;
  }
}
@media (max-width: 768px) {
  .above {
    position: static;
  }
}
.jumbotron {
  padding-bottom: 0;
  padding-top: 0;
}

.red {
  color: red;
}